html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

/* Navbar Linkleri İçin Hover Efekti */
.navbar-nav .nav-link {
  font-size: 0.85rem;
  letter-spacing: 1px;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #6c757d !important;
  /* Gri tonlama */
}

/* Mobilde Logo Düzeni */
@media (max-width: 991px) {

  /* Mobilde logoyu yukarı alır, menüleri altına dizer */
  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    justify-content: center !important;
    margin-bottom: 10px;
  }

  .navbar-brand {
    order: -1;
    /* Logoyu en başa alır */
    margin-bottom: 1rem;
  }
}